HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
uploads
nsfw_lib/.env
nsfw_lib/com_ren_backend_ren_backend_NsfwPredictor.h
nsfw_lib/log/requests.log
nsfw_lib/README.md
.env
log/requests.log
bin
lib
ren_icon.png
ren_icon_nobackground.png
